-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: censo_monitoreo
-- ------------------------------------------------------
-- Server version	11.8.6-MariaDB-5

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asignaciones`
--

DROP TABLE IF EXISTS `asignaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_encuestador` int(11) NOT NULL,
  `id_sector` int(11) NOT NULL,
  `id_supervisor` int(11) NOT NULL,
  `fecha_asignacion` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_encuestador` (`id_encuestador`),
  KEY `id_sector` (`id_sector`),
  KEY `id_supervisor` (`id_supervisor`),
  CONSTRAINT `asignaciones_ibfk_1` FOREIGN KEY (`id_encuestador`) REFERENCES `encuestadores` (`id`),
  CONSTRAINT `asignaciones_ibfk_2` FOREIGN KEY (`id_sector`) REFERENCES `sectores` (`id`),
  CONSTRAINT `asignaciones_ibfk_3` FOREIGN KEY (`id_supervisor`) REFERENCES `supervisores` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `boletas`
--

DROP TABLE IF EXISTS `boletas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boletas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(30) NOT NULL,
  `id_encuestador` int(11) NOT NULL,
  `id_sector` int(11) NOT NULL,
  `r_final` int(11) NOT NULL COMMENT '1=Completa,2=Rechazo mitad,3=Rechazo,4=Ausentes,5=Desocupada,6=Destruida,7=En construccion,8=Transformada,9=No localizada,10=Barrio seguro,11=Barrio inseguro,12=Otro,13=Pendiente,14=Uso temporal',
  `total_personas` int(11) DEFAULT 0,
  `total_hombres` int(11) DEFAULT 0,
  `total_mujeres` int(11) DEFAULT 0,
  `jefe_hogar` varchar(200) DEFAULT NULL,
  `fecha_visita` datetime NOT NULL,
  `fecha_sync` datetime DEFAULT NULL,
  `tiempo_entrevista` int(11) DEFAULT NULL COMMENT 'en minutos',
  `num_rec` varchar(10) DEFAULT NULL,
  `num_hog` varchar(10) DEFAULT NULL,
  `revisada` tinyint(4) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `id_encuestador` (`id_encuestador`),
  KEY `id_sector` (`id_sector`),
  CONSTRAINT `boletas_ibfk_1` FOREIGN KEY (`id_encuestador`) REFERENCES `encuestadores` (`id`),
  CONSTRAINT `boletas_ibfk_2` FOREIGN KEY (`id_sector`) REFERENCES `sectores` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_comp_hog_envejecimiento`
--

DROP TABLE IF EXISTS `calidad_comp_hog_envejecimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_comp_hog_envejecimiento` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `no_inscrita_rnp_h` int(11) DEFAULT NULL,
  `no_inscrita_rnp_m` int(11) DEFAULT NULL,
  `cant_mayor_60_h` int(11) DEFAULT NULL,
  `cant_mayor_60_m` int(11) DEFAULT NULL,
  `cant_hombre` int(11) DEFAULT NULL,
  `cant_mujer` int(11) DEFAULT NULL,
  `cant_100_mas_h` int(11) DEFAULT NULL,
  `cant_100_mas_m` int(11) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL,
  `cant_menor_15_h` int(11) DEFAULT NULL,
  `cant_menor_15_m` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_comp_hog_historico`
--

DROP TABLE IF EXISTS `calidad_comp_hog_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_comp_hog_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `edad_60_por_100_2001` int(11) DEFAULT NULL,
  `edad_60_por_100_2013` int(11) DEFAULT NULL,
  `edad_60_o_mas_2001` int(11) DEFAULT NULL,
  `edad_60_o_mas_2013` int(11) DEFAULT NULL,
  `cant_100_mas_2001` int(11) DEFAULT NULL,
  `cant_100_mas_2013` int(11) DEFAULT NULL,
  `cant_menor_15_2001` int(11) DEFAULT NULL,
  `cant_menor_15_2013` int(11) DEFAULT NULL,
  `poblacion_total_2001` int(11) DEFAULT NULL,
  `poblacion_total_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_comp_hog_piramide`
--

DROP TABLE IF EXISTS `calidad_comp_hog_piramide`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_comp_hog_piramide` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `edad_70_74_h` int(11) DEFAULT NULL,
  `edad_70_74_m` int(11) DEFAULT NULL,
  `edad_75_79_h` int(11) DEFAULT NULL,
  `edad_75_79_m` int(11) DEFAULT NULL,
  `edad_80_84_h` int(11) DEFAULT NULL,
  `edad_80_84_m` int(11) DEFAULT NULL,
  `edad_85_89_h` int(11) DEFAULT NULL,
  `edad_85_89_m` int(11) DEFAULT NULL,
  `edad_90_94_h` int(11) DEFAULT NULL,
  `edad_90_94_m` int(11) DEFAULT NULL,
  `edad_95_99_h` int(11) DEFAULT NULL,
  `edad_95_99_m` int(11) DEFAULT NULL,
  `edad_100_mas_h` int(11) DEFAULT NULL,
  `edad_100_mas_m` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_cony_estado`
--

DROP TABLE IF EXISTS `calidad_cony_estado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_cony_estado` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_mujer` int(11) DEFAULT NULL,
  `cant_hombre` int(11) DEFAULT NULL,
  `cant_casado_h` int(11) DEFAULT NULL,
  `cant_casado_m` int(11) DEFAULT NULL,
  `cant_union_libre_h` int(11) DEFAULT NULL,
  `cant_union_libre_m` int(11) DEFAULT NULL,
  `cant_separado_h` int(11) DEFAULT NULL,
  `cant_separado_m` int(11) DEFAULT NULL,
  `cant_divorciado_h` int(11) DEFAULT NULL,
  `cant_divorciado_m` int(11) DEFAULT NULL,
  `cant_viudo_h` int(11) DEFAULT NULL,
  `cant_viudo_m` int(11) DEFAULT NULL,
  `cant_soltero_h` int(11) DEFAULT NULL,
  `cant_soltero_m` int(11) DEFAULT NULL,
  `menor_18_casado_h` int(11) DEFAULT NULL,
  `menor_18_casado_m` int(11) DEFAULT NULL,
  `menor_18_union_libre_h` int(11) DEFAULT NULL,
  `menor_18_union_libre_m` int(11) DEFAULT NULL,
  `menor_18_separado_h` int(11) DEFAULT NULL,
  `menor_18_separado_m` int(11) DEFAULT NULL,
  `menor_18_divorciado_h` int(11) DEFAULT NULL,
  `menor_18_divorciado_m` int(11) DEFAULT NULL,
  `edad_menos_18_h` int(11) DEFAULT NULL,
  `edad_menos_18_m` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_cony_historico`
--

DROP TABLE IF EXISTS `calidad_cony_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_cony_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `cant_nac_otro_muni_2001` int(11) DEFAULT NULL,
  `cant_nac_otro_muni_2013` int(11) DEFAULT NULL,
  `cant_nac_otro_pais_2001` int(11) DEFAULT NULL,
  `cant_nac_otro_pais_2013` int(11) DEFAULT NULL,
  `cant_nac_5anios_2001` int(11) DEFAULT NULL,
  `cant_nac_5anios_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_disc_historico`
--

DROP TABLE IF EXISTS `calidad_disc_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_disc_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `cant_lim_caminar_2001` int(11) DEFAULT NULL,
  `cant_lim_caminar_2013` int(11) DEFAULT NULL,
  `cant_lim_habla_2001` int(11) DEFAULT NULL,
  `cant_lim_habla_2013` int(11) DEFAULT NULL,
  `cant_lim_vision_2001` int(11) DEFAULT NULL,
  `cant_lim_vision_2013` int(11) DEFAULT NULL,
  `cant_lim_oir_2001` int(11) DEFAULT NULL,
  `cant_lim_oir_2013` int(11) DEFAULT NULL,
  `cant_lim_aprender_2001` int(11) DEFAULT NULL,
  `cant_lim_aprender_2013` int(11) DEFAULT NULL,
  `cant_lim_brazo_2001` int(11) DEFAULT NULL,
  `cant_lim_brazo_2013` int(11) DEFAULT NULL,
  `cant_lim_valerse_2001` int(11) DEFAULT NULL,
  `cant_lim_valerse_2013` int(11) DEFAULT NULL,
  `poblacion_total_2001` int(11) DEFAULT NULL,
  `poblacion_total_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_disc_limitacion`
--

DROP TABLE IF EXISTS `calidad_disc_limitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_disc_limitacion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_limitacion` int(11) DEFAULT NULL,
  `cant_lim_caminar` int(11) DEFAULT NULL,
  `cant_lim_habla` int(11) DEFAULT NULL,
  `cant_lim_vision` int(11) DEFAULT NULL,
  `cant_lim_oir` int(11) DEFAULT NULL,
  `cant_lim_aprender` int(11) DEFAULT NULL,
  `cant_lim_brazo` int(11) DEFAULT NULL,
  `cant_lim_valerse` int(11) DEFAULT NULL,
  `cant_sin_limitacion` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_edu_grupo_edad`
--

DROP TABLE IF EXISTS `calidad_edu_grupo_edad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_edu_grupo_edad` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `edu_edad_5_6` int(11) DEFAULT NULL,
  `edu_edad_5_12` int(11) DEFAULT NULL,
  `edu_edad_5_17` int(11) DEFAULT NULL,
  `edu_edad_6_12` int(11) DEFAULT NULL,
  `edu_edad_7_12` int(11) DEFAULT NULL,
  `edu_edad_13_17` int(11) DEFAULT NULL,
  `poblacion_6_12` int(11) DEFAULT NULL,
  `poblacion_7_12` int(11) DEFAULT NULL,
  `poblacion_5_6` int(11) DEFAULT NULL,
  `poblacion_13_17` int(11) DEFAULT NULL,
  `poblacion_5_17` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_edu_historico`
--

DROP TABLE IF EXISTS `calidad_edu_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_edu_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `edu_edad_5_17_2001` int(11) DEFAULT NULL,
  `edu_edad_5_17_2013` int(11) DEFAULT NULL,
  `promedio_edad_15_mas_2001` int(11) DEFAULT NULL,
  `promedio_edad_15_mas_2013` int(11) DEFAULT NULL,
  `poblacion_5_17_2001` int(11) DEFAULT NULL,
  `poblacion_5_17_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_edu_nivel_educativo`
--

DROP TABLE IF EXISTS `calidad_edu_nivel_educativo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_edu_nivel_educativo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_no_educ` int(11) DEFAULT NULL,
  `cant_alfabetizacion` int(11) DEFAULT NULL,
  `cant_prebasica` int(11) DEFAULT NULL,
  `cant_basica` int(11) DEFAULT NULL,
  `cant_media` int(11) DEFAULT NULL,
  `cant_tec_superior` int(11) DEFAULT NULL,
  `cant_tec_no_superior` int(11) DEFAULT NULL,
  `cant_universidad` int(11) DEFAULT NULL,
  `cant_especialidad` int(11) DEFAULT NULL,
  `cant_maestria` int(11) DEFAULT NULL,
  `cant_doctorado` int(11) DEFAULT NULL,
  `cant_analfabeta` int(11) DEFAULT NULL,
  `poblacion_15_mas` int(11) DEFAULT NULL,
  `total_anios_estudio` int(11) DEFAULT NULL,
  `poblacion_para_promedio` int(11) DEFAULT NULL,
  `poblacion_nivel_educativo` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_etn_historico`
--

DROP TABLE IF EXISTS `calidad_etn_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_etn_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `pob_indigena` int(11) DEFAULT NULL,
  `pob_afro` int(11) DEFAULT NULL,
  `pob_indigena_2001` int(11) DEFAULT NULL,
  `pob_indigena_2013` int(11) DEFAULT NULL,
  `pob_afro_2001` int(11) DEFAULT NULL,
  `pob_afro_2013` int(11) DEFAULT NULL,
  `poblacion_total_2001` int(11) DEFAULT NULL,
  `poblacion_total_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_etn_indigena_afro`
--

DROP TABLE IF EXISTS `calidad_etn_indigena_afro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_etn_indigena_afro` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_mujer` int(11) DEFAULT NULL,
  `cant_hombre` int(11) DEFAULT NULL,
  `cant_indigena` int(11) DEFAULT NULL,
  `cant_afro` int(11) DEFAULT NULL,
  `cant_indigena_h` int(11) DEFAULT NULL,
  `cant_indigena_m` int(11) DEFAULT NULL,
  `cant_afro_h` int(11) DEFAULT NULL,
  `cant_afro_m` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_fec_fecundidad`
--

DROP TABLE IF EXISTS `calidad_fec_fecundidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_fec_fecundidad` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `cant_mujeres_15_49_anios` int(11) DEFAULT NULL,
  `cant_mujer_15_con_hijos` int(11) DEFAULT NULL,
  `cant_hijos_nacidos_15_49` int(11) DEFAULT NULL,
  `cant_hijos_nacidos` int(11) DEFAULT NULL,
  `edad_15_19` int(11) DEFAULT NULL,
  `edad_20_24` int(11) DEFAULT NULL,
  `edad_25_29` int(11) DEFAULT NULL,
  `edad_30_34` int(11) DEFAULT NULL,
  `edad_35_39` int(11) DEFAULT NULL,
  `edad_40_44` int(11) DEFAULT NULL,
  `edad_45_49` int(11) DEFAULT NULL,
  `1er_hijo_15_19` int(11) DEFAULT NULL,
  `1er_hijo_20_24` int(11) DEFAULT NULL,
  `1er_hijo_25_29` int(11) DEFAULT NULL,
  `1er_hijo_30_34` int(11) DEFAULT NULL,
  `1er_hijo_35_39` int(11) DEFAULT NULL,
  `1er_hijo_40_44` int(11) DEFAULT NULL,
  `1er_hijo_45_49` int(11) DEFAULT NULL,
  `total_mujeres` int(11) DEFAULT NULL,
  `total_mujeres_15_mas` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_fec_historico`
--

DROP TABLE IF EXISTS `calidad_fec_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_fec_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `pr_hijos_edad_15_49_2001` int(11) DEFAULT NULL,
  `pr_hijos_edad_15_49_2013` int(11) DEFAULT NULL,
  `cant_hijos_vivos_2001` int(11) DEFAULT NULL,
  `cant_hijos_vivos_2013` int(11) DEFAULT NULL,
  `edad_tener_1er_hijo_2001` int(11) DEFAULT NULL,
  `edad_tener_1er_hijo_2013` int(11) DEFAULT NULL,
  `edad_15_mas_hijo_nacido_2001` int(11) DEFAULT NULL,
  `edad_15_mas_hijo_nacido_2013` int(11) DEFAULT NULL,
  `mujeres_15_49_2001` int(11) DEFAULT NULL,
  `mujeres_15_49_2013` int(11) DEFAULT NULL,
  `poblacion_mujeres_2001` int(11) DEFAULT NULL,
  `poblacion_mujeres_2013` int(11) DEFAULT NULL,
  `mujeres_15_mas_2001` int(11) DEFAULT NULL,
  `mujeres_15_mas_2013` int(11) DEFAULT NULL,
  `mujeres_15_mas_con_hijos_2001` int(11) DEFAULT NULL,
  `mujeres_15_mas_con_hijos_2013` int(11) DEFAULT NULL,
  `hijos_nacidos_15_49_2001` int(11) DEFAULT NULL,
  `hijos_nacidos_15_49_2013` int(11) DEFAULT NULL,
  `edad_1er_hijo_15_19_2001` int(11) DEFAULT NULL,
  `edad_1er_hijo_20_24_2001` int(11) DEFAULT NULL,
  `edad_1er_hijo_25_29_2001` int(11) DEFAULT NULL,
  `edad_1er_hijo_30_34_2001` int(11) DEFAULT NULL,
  `edad_1er_hijo_35_39_2001` int(11) DEFAULT NULL,
  `edad_1er_hijo_40_44_2001` int(11) DEFAULT NULL,
  `edad_1er_hijo_45_49_2001` int(11) DEFAULT NULL,
  `edad_1er_hijo_15_19_2013` int(11) DEFAULT NULL,
  `edad_1er_hijo_20_24_2013` int(11) DEFAULT NULL,
  `edad_1er_hijo_25_29_2013` int(11) DEFAULT NULL,
  `edad_1er_hijo_30_34_2013` int(11) DEFAULT NULL,
  `edad_1er_hijo_35_39_2013` int(11) DEFAULT NULL,
  `edad_1er_hijo_40_44_2013` int(11) DEFAULT NULL,
  `edad_1er_hijo_45_49_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_hog_hacinamiento`
--

DROP TABLE IF EXISTS `calidad_hog_hacinamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_hog_hacinamiento` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `mayor_3_hac` int(11) DEFAULT NULL,
  `num_personas` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_hog_historico`
--

DROP TABLE IF EXISTS `calidad_hog_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_hog_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` varchar(7) DEFAULT NULL,
  `segmento` varchar(8) DEFAULT NULL,
  `total_hog_2001` int(11) DEFAULT NULL,
  `total_hog_2013` int(11) DEFAULT NULL,
  `total_viv_2001` int(11) DEFAULT NULL,
  `total_viv_2013` int(11) DEFAULT NULL,
  `electricidad_2001` int(11) DEFAULT NULL,
  `electricidad_2013` int(11) DEFAULT NULL,
  `inodoro_2001` int(11) DEFAULT NULL,
  `inodoro_2013` int(11) DEFAULT NULL,
  `tren_aseo_2001` int(11) DEFAULT NULL,
  `tren_aseo_2013` int(11) DEFAULT NULL,
  `piso_tierra_2001` int(11) DEFAULT NULL,
  `piso_tierra_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_hog_nucleo`
--

DROP TABLE IF EXISTS `calidad_hog_nucleo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_hog_nucleo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `jefe_mujer` int(11) DEFAULT NULL,
  `jefe_hombre` int(11) DEFAULT NULL,
  `biparental_sin_hijos` int(11) DEFAULT NULL,
  `biparental_con_hijos` int(11) DEFAULT NULL,
  `unipersonal` int(11) DEFAULT NULL,
  `monoparental_jefe_mujer` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_hog_servicios`
--

DROP TABLE IF EXISTS `calidad_hog_servicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_hog_servicios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL,
  `refrigeradora` int(11) DEFAULT NULL,
  `televisor` int(11) DEFAULT NULL,
  `computadora` int(11) DEFAULT NULL,
  `celular` int(11) DEFAULT NULL,
  `internet` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_mig_emigrante_genero`
--

DROP TABLE IF EXISTS `calidad_mig_emigrante_genero`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_mig_emigrante_genero` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_mujer_emi` int(11) DEFAULT NULL,
  `cant_hombre_emi` int(11) DEFAULT NULL,
  `edad_0_4_h` int(11) DEFAULT NULL,
  `edad_0_4_m` int(11) DEFAULT NULL,
  `edad_5_9_h` int(11) DEFAULT NULL,
  `edad_5_9_m` int(11) DEFAULT NULL,
  `edad_10_14_h` int(11) DEFAULT NULL,
  `edad_10_14_m` int(11) DEFAULT NULL,
  `edad_15_19_h` int(11) DEFAULT NULL,
  `edad_15_19_m` int(11) DEFAULT NULL,
  `edad_20_24_h` int(11) DEFAULT NULL,
  `edad_20_24_m` int(11) DEFAULT NULL,
  `edad_25_29_h` int(11) DEFAULT NULL,
  `edad_25_29_m` int(11) DEFAULT NULL,
  `edad_30_34_h` int(11) DEFAULT NULL,
  `edad_30_34_m` int(11) DEFAULT NULL,
  `edad_35_39_h` int(11) DEFAULT NULL,
  `edad_35_39_m` int(11) DEFAULT NULL,
  `edad_40_44_h` int(11) DEFAULT NULL,
  `edad_40_44_m` int(11) DEFAULT NULL,
  `edad_45_49_h` int(11) DEFAULT NULL,
  `edad_45_49_m` int(11) DEFAULT NULL,
  `edad_50_54_h` int(11) DEFAULT NULL,
  `edad_50_54_m` int(11) DEFAULT NULL,
  `edad_55_59_h` int(11) DEFAULT NULL,
  `edad_55_59_m` int(11) DEFAULT NULL,
  `edad_60_64_h` int(11) DEFAULT NULL,
  `edad_60_64_m` int(11) DEFAULT NULL,
  `edad_65_69_h` int(11) DEFAULT NULL,
  `edad_65_69_m` int(11) DEFAULT NULL,
  `edad_70_74_h` int(11) DEFAULT NULL,
  `edad_70_74_m` int(11) DEFAULT NULL,
  `edad_75_79_h` int(11) DEFAULT NULL,
  `edad_75_79_m` int(11) DEFAULT NULL,
  `edad_80_mas_h` int(11) DEFAULT NULL,
  `edad_80_mas_m` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_mig_emigrante_pais_dest`
--

DROP TABLE IF EXISTS `calidad_mig_emigrante_pais_dest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_mig_emigrante_pais_dest` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_mujer` int(11) DEFAULT NULL,
  `cant_hombre` int(11) DEFAULT NULL,
  `pais_1` int(11) DEFAULT NULL,
  `pais_2` int(11) DEFAULT NULL,
  `pais_3` int(11) DEFAULT NULL,
  `pais_4` int(11) DEFAULT NULL,
  `pais_otro` int(11) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL,
  `pais_eeuu_h` int(11) DEFAULT NULL,
  `pais_eeuu_m` int(11) DEFAULT NULL,
  `pais_espana_h` int(11) DEFAULT NULL,
  `pais_espana_m` int(11) DEFAULT NULL,
  `pais_mexico_h` int(11) DEFAULT NULL,
  `pais_mexico_m` int(11) DEFAULT NULL,
  `pais_canada_h` int(11) DEFAULT NULL,
  `pais_canada_m` int(11) DEFAULT NULL,
  `pais_italia_h` int(11) DEFAULT NULL,
  `pais_italia_m` int(11) DEFAULT NULL,
  `pais_otro_h` int(11) DEFAULT NULL,
  `pais_otro_m` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_mig_historico`
--

DROP TABLE IF EXISTS `calidad_mig_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_mig_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `emi_hogar_2001` int(11) DEFAULT NULL,
  `emi_hogar_2013` int(11) DEFAULT NULL,
  `cantidad_emigrantes` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_mor_mortalidad`
--

DROP TABLE IF EXISTS `calidad_mor_mortalidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_mor_mortalidad` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_hombre` int(11) DEFAULT NULL,
  `cant_mujer` int(11) DEFAULT NULL,
  `edad_0_h` int(11) DEFAULT NULL,
  `edad_0_m` int(11) DEFAULT NULL,
  `edad_1_4_h` int(11) DEFAULT NULL,
  `edad_1_4_m` int(11) DEFAULT NULL,
  `edad_5_14_h` int(11) DEFAULT NULL,
  `edad_5_14_m` int(11) DEFAULT NULL,
  `edad_15_24_h` int(11) DEFAULT NULL,
  `edad_15_24_m` int(11) DEFAULT NULL,
  `edad_25_34_h` int(11) DEFAULT NULL,
  `edad_25_34_m` int(11) DEFAULT NULL,
  `edad_35_44_h` int(11) DEFAULT NULL,
  `edad_35_44_m` int(11) DEFAULT NULL,
  `edad_45_54_h` int(11) DEFAULT NULL,
  `edad_45_54_m` int(11) DEFAULT NULL,
  `edad_55_64_h` int(11) DEFAULT NULL,
  `edad_55_64_m` int(11) DEFAULT NULL,
  `edad_65_74_h` int(11) DEFAULT NULL,
  `edad_65_74_m` int(11) DEFAULT NULL,
  `edad_75_mas_h` int(11) DEFAULT NULL,
  `edad_75_mas_m` int(11) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL,
  `hogar_con_un_fallecido` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_nac_res_otro_lugar`
--

DROP TABLE IF EXISTS `calidad_nac_res_otro_lugar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_nac_res_otro_lugar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_nac_otro_muni` int(11) DEFAULT NULL,
  `cant_nac_otro_pais` int(11) DEFAULT NULL,
  `cant_nac_5anios` int(11) DEFAULT NULL,
  `cant_nac_otro_muni_h` int(11) DEFAULT NULL,
  `cant_nac_otro_muni_m` int(11) DEFAULT NULL,
  `cant_nac_otro_pais_h` int(11) DEFAULT NULL,
  `cant_nac_otro_pais_m` int(11) DEFAULT NULL,
  `cant_nac_5anios_h` int(11) DEFAULT NULL,
  `cant_nac_5anios_m` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_tic_acceso`
--

DROP TABLE IF EXISTS `calidad_tic_acceso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_tic_acceso` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_una_tic_minimo` int(11) DEFAULT NULL,
  `cant_con_compu` int(11) DEFAULT NULL,
  `cant_con_tablet` int(11) DEFAULT NULL,
  `cant_con_celular` int(11) DEFAULT NULL,
  `cant_con_tel_fijo` int(11) DEFAULT NULL,
  `cant_tiene_internet` int(11) DEFAULT NULL,
  `poblacion_total` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_tic_historico`
--

DROP TABLE IF EXISTS `calidad_tic_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_tic_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `acceso_tic_2001` int(11) DEFAULT NULL,
  `acceso_tic_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_tra_ocu_ocupacion`
--

DROP TABLE IF EXISTS `calidad_tra_ocu_ocupacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_tra_ocu_ocupacion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cant_hombre` int(11) DEFAULT NULL,
  `cant_mujer` int(11) DEFAULT NULL,
  `cant_p_ocupada_m` int(11) DEFAULT NULL,
  `cant_p_ocupada_h` int(11) DEFAULT NULL,
  `cant_p_desocupada_m` int(11) DEFAULT NULL,
  `cant_p_desocupada_h` int(11) DEFAULT NULL,
  `cant_retirada_edad_15_m` int(11) DEFAULT NULL,
  `cant_retirada_edad_15_h` int(11) DEFAULT NULL,
  `cant_cuidado_hogar_m` int(11) DEFAULT NULL,
  `cant_cuidado_hogar_h` int(11) DEFAULT NULL,
  `cant_sector_publico_m` int(11) DEFAULT NULL,
  `cant_sector_publico_h` int(11) DEFAULT NULL,
  `cant_sector_privado_m` int(11) DEFAULT NULL,
  `cant_sector_privado_h` int(11) DEFAULT NULL,
  `cant_empleo_domestico_m` int(11) DEFAULT NULL,
  `cant_empleo_domestico_h` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_trab_ocu_historico`
--

DROP TABLE IF EXISTS `calidad_trab_ocu_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_trab_ocu_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `activa_m_2001_edad_15_mas` int(11) DEFAULT NULL,
  `activa_h_2013_edad_15_mas` int(11) DEFAULT NULL,
  `activa_h_2001_edad_15_mas` int(11) DEFAULT NULL,
  `activa_m_2013_edad_15_mas` int(11) DEFAULT NULL,
  `poblacion_15_mas_2001` int(11) DEFAULT NULL,
  `poblacion_15_mas_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_viv_historico`
--

DROP TABLE IF EXISTS `calidad_viv_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_viv_historico` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `electricidad_2001` int(11) DEFAULT NULL,
  `electricidad_2013` int(11) DEFAULT NULL,
  `inodoro_alcan_2001` int(11) DEFAULT NULL,
  `inodoro_alcan_2013` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_viv_hogar`
--

DROP TABLE IF EXISTS `calidad_viv_hogar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_viv_hogar` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL,
  `electricidad` int(11) DEFAULT NULL,
  `internet` int(11) DEFAULT NULL,
  `tipo_sanitario_alcant` int(11) DEFAULT NULL,
  `tren_aseo` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calidad_viv_vivienda`
--

DROP TABLE IF EXISTS `calidad_viv_vivienda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calidad_viv_vivienda` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `tipo_casa_indep` int(11) DEFAULT NULL,
  `tipo_apartamento` int(11) DEFAULT NULL,
  `tipo_anexo` int(11) DEFAULT NULL,
  `tipo_cuarto_meson` int(11) DEFAULT NULL,
  `tipo_no_construido` int(11) DEFAULT NULL,
  `tipo_rancho` int(11) DEFAULT NULL,
  `tipo_improvisado` int(11) DEFAULT NULL,
  `tipo_otro` int(11) DEFAULT NULL,
  `piso_tierra` int(11) DEFAULT NULL,
  `techo_teja` int(11) DEFAULT NULL,
  `recibe_agua` int(11) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cob_area`
--

DROP TABLE IF EXISTS `cob_area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cob_area` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` char(7) DEFAULT NULL,
  `segmento` char(8) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `area_urbana` int(11) DEFAULT NULL,
  `area_rural` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cob_cobertura_departamentos`
--

DROP TABLE IF EXISTS `cob_cobertura_departamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cob_cobertura_departamentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `depto_name` varchar(100) DEFAULT NULL,
  `realizado` int(11) DEFAULT NULL,
  `por_realizar` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cob_condicion_vivienda`
--

DROP TABLE IF EXISTS `cob_condicion_vivienda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cob_condicion_vivienda` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` varchar(7) DEFAULT NULL,
  `segmento` varchar(8) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `ocupada_presentes` int(11) DEFAULT NULL,
  `ocupadas_presentes` int(11) DEFAULT NULL,
  `rechazadas` int(11) DEFAULT NULL,
  `pendientes` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cob_evolucion_cobertura`
--

DROP TABLE IF EXISTS `cob_evolucion_cobertura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cob_evolucion_cobertura` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` varchar(7) DEFAULT NULL,
  `segmento` varchar(8) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `avance_dia` int(11) DEFAULT NULL,
  `viv_ocupadas_dia` int(11) DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cob_total_viviendas_desocupada`
--

DROP TABLE IF EXISTS `cob_total_viviendas_desocupada`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cob_total_viviendas_desocupada` (
  `id` int(11) DEFAULT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` char(7) DEFAULT NULL,
  `segmento` char(8) DEFAULT NULL,
  `cantidad_desocupada` int(11) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cob_total_viviendas_ocup_ausentes`
--

DROP TABLE IF EXISTS `cob_total_viviendas_ocup_ausentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cob_total_viviendas_ocup_ausentes` (
  `id` int(11) DEFAULT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` char(7) DEFAULT NULL,
  `segmento` char(8) DEFAULT NULL,
  `cantidad_ocupadas_ausente` int(11) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cob_total_viviendas_ocupadas`
--

DROP TABLE IF EXISTS `cob_total_viviendas_ocupadas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cob_total_viviendas_ocupadas` (
  `id` int(11) DEFAULT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` char(7) DEFAULT NULL,
  `segmento` char(8) DEFAULT NULL,
  `cantidad_ocupadas` int(11) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cob_total_viviendas_particulares`
--

DROP TABLE IF EXISTS `cob_total_viviendas_particulares`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cob_total_viviendas_particulares` (
  `id` int(11) DEFAULT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` char(7) DEFAULT NULL,
  `segmento` char(8) DEFAULT NULL,
  `cantidad_particulares` int(11) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `departamentos`
--

DROP TABLE IF EXISTS `departamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departamentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(10) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `division_politica_depto_municipio`
--

DROP TABLE IF EXISTS `division_politica_depto_municipio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `division_politica_depto_municipio` (
  `id` int(11) DEFAULT NULL,
  `id_depto` char(2) DEFAULT NULL,
  `desc_depto` varchar(60) DEFAULT NULL,
  `id_muni` char(2) DEFAULT NULL,
  `desc_muni` varchar(60) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `encuestadores`
--

DROP TABLE IF EXISTS `encuestadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `encuestadores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `id_municipio` int(11) NOT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `fecha_capacitacion` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `id_municipio` (`id_municipio`),
  CONSTRAINT `encuestadores_ibfk_1` FOREIGN KEY (`id_municipio`) REFERENCES `municipios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ge-viv-cob-censadas-sin`
--

DROP TABLE IF EXISTS `ge-viv-cob-censadas-sin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ge-viv-cob-censadas-sin` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` char(7) DEFAULT NULL,
  `segmento` char(8) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `agua` int(11) DEFAULT NULL,
  `energia` int(11) DEFAULT NULL,
  `sanitario` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ge-viv-cob-deptos-completados`
--

DROP TABLE IF EXISTS `ge-viv-cob-deptos-completados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ge-viv-cob-deptos-completados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `completado` char(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ge-viv-cob-hogares-censados`
--

DROP TABLE IF EXISTS `ge-viv-cob-hogares-censados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ge-viv-cob-hogares-censados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` varchar(2) DEFAULT NULL,
  `mun` varchar(2) DEFAULT NULL,
  `sector` varchar(7) DEFAULT NULL,
  `segmento` varchar(8) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cantidad_censadas` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ge-viv-cob-hogares-esperados`
--

DROP TABLE IF EXISTS `ge-viv-cob-hogares-esperados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ge-viv-cob-hogares-esperados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` varchar(2) DEFAULT NULL,
  `muni` varchar(2) DEFAULT NULL,
  `cantidad_esperada` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ge-viv-cob-munis-completados`
--

DROP TABLE IF EXISTS `ge-viv-cob-munis-completados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ge-viv-cob-munis-completados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `muni` char(2) DEFAULT NULL,
  `completado` char(1) DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ge-viv-cob-tipo-viv`
--

DROP TABLE IF EXISTS `ge-viv-cob-tipo-viv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ge-viv-cob-tipo-viv` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` char(7) DEFAULT NULL,
  `segmento` char(8) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `viv_particular` int(11) DEFAULT NULL,
  `apartamento` int(11) DEFAULT NULL,
  `cuarteria` int(11) DEFAULT NULL,
  `otro_tipo` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ge-viv-cob-viviendas-censadas`
--

DROP TABLE IF EXISTS `ge-viv-cob-viviendas-censadas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ge-viv-cob-viviendas-censadas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` varchar(2) DEFAULT NULL,
  `mun` varchar(2) DEFAULT NULL,
  `sector` varchar(7) DEFAULT NULL,
  `segmento` varchar(8) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `cantidad_censadas` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ge-viv-cob-viviendas-esperadas`
--

DROP TABLE IF EXISTS `ge-viv-cob-viviendas-esperadas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ge-viv-cob-viviendas-esperadas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `depto` varchar(2) DEFAULT NULL,
  `muni` varchar(2) DEFAULT NULL,
  `cantidad_esperada` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `municipios`
--

DROP TABLE IF EXISTS `municipios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `municipios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_departamento` int(11) NOT NULL,
  `codigo` varchar(10) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_departamento` (`id_departamento`),
  CONSTRAINT `municipios_ibfk_1` FOREIGN KEY (`id_departamento`) REFERENCES `departamentos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `prueba_fechas`
--

DROP TABLE IF EXISTS `prueba_fechas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prueba_fechas` (
  `id` int(11) DEFAULT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `year` int(11) DEFAULT NULL,
  `valor` int(11) DEFAULT NULL,
  `total` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sectores`
--

DROP TABLE IF EXISTS `sectores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sectores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_municipio` int(11) NOT NULL,
  `codigo` varchar(20) NOT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  `total_viviendas_esperadas` int(11) DEFAULT 0,
  `total_personas_esperadas` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `id_municipio` (`id_municipio`),
  CONSTRAINT `sectores_ibfk_1` FOREIGN KEY (`id_municipio`) REFERENCES `municipios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `supervisores`
--

DROP TABLE IF EXISTS `supervisores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supervisores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `id_municipio` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `id_municipio` (`id_municipio`),
  CONSTRAINT `supervisores_ibfk_1` FOREIGN KEY (`id_municipio`) REFERENCES `municipios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `total_hog_viv`
--

DROP TABLE IF EXISTS `total_hog_viv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `total_hog_viv` (
  `id` int(11) NOT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `apoyo_municipal` tinyint(4) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` varchar(9) DEFAULT NULL,
  `censista` varchar(9) DEFAULT NULL,
  `hogar` int(11) DEFAULT NULL,
  `vivienda` int(11) DEFAULT NULL,
  `cantidad_personas` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `v_resumen_departamento`
--

DROP TABLE IF EXISTS `v_resumen_departamento`;
/*!50001 DROP VIEW IF EXISTS `v_resumen_departamento`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_resumen_departamento` AS SELECT 
 1 AS `departamento`,
 1 AS `encuestadores_activos`,
 1 AS `total_boletas`,
 1 AS `completas`,
 1 AS `total_personas`,
 1 AS `tiempo_promedio`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_resumen_encuestador`
--

DROP TABLE IF EXISTS `v_resumen_encuestador`;
/*!50001 DROP VIEW IF EXISTS `v_resumen_encuestador`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_resumen_encuestador` AS SELECT 
 1 AS `id`,
 1 AS `encuestador`,
 1 AS `codigo`,
 1 AS `municipio`,
 1 AS `total_boletas`,
 1 AS `completas`,
 1 AS `ausentes`,
 1 AS `rechazos`,
 1 AS `pendientes`,
 1 AS `otras`,
 1 AS `total_personas`,
 1 AS `total_hombres`,
 1 AS `total_mujeres`,
 1 AS `tiempo_promedio_min`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_resumen_municipio`
--

DROP TABLE IF EXISTS `v_resumen_municipio`;
/*!50001 DROP VIEW IF EXISTS `v_resumen_municipio`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_resumen_municipio` AS SELECT 
 1 AS `id`,
 1 AS `municipio`,
 1 AS `departamento`,
 1 AS `encuestadores_activos`,
 1 AS `total_boletas`,
 1 AS `completas`,
 1 AS `total_personas`,
 1 AS `tiempo_promedio`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_resumen_sector`
--

DROP TABLE IF EXISTS `v_resumen_sector`;
/*!50001 DROP VIEW IF EXISTS `v_resumen_sector`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_resumen_sector` AS SELECT 
 1 AS `id`,
 1 AS `codigo`,
 1 AS `sector`,
 1 AS `municipio`,
 1 AS `departamento`,
 1 AS `total_viviendas_esperadas`,
 1 AS `viviendas_visitadas`,
 1 AS `pct_avance`,
 1 AS `completas`,
 1 AS `personas_censadas`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_resumen_departamento`
--

/*!50001 DROP VIEW IF EXISTS `v_resumen_departamento`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_uca1400_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`sis`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_resumen_departamento` AS select `d`.`nombre` AS `departamento`,count(distinct `b`.`id_encuestador`) AS `encuestadores_activos`,count(`b`.`id`) AS `total_boletas`,sum(case when `b`.`r_final` = 1 then 1 else 0 end) AS `completas`,sum(`b`.`total_personas`) AS `total_personas`,round(avg(case when `b`.`r_final` = 1 then `b`.`tiempo_entrevista` end),1) AS `tiempo_promedio` from (((`departamentos` `d` left join `municipios` `m` on(`m`.`id_departamento` = `d`.`id`)) left join `sectores` `s` on(`s`.`id_municipio` = `m`.`id`)) left join `boletas` `b` on(`b`.`id_sector` = `s`.`id`)) group by `d`.`id`,`d`.`nombre` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_resumen_encuestador`
--

/*!50001 DROP VIEW IF EXISTS `v_resumen_encuestador`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_uca1400_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`sis`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_resumen_encuestador` AS select `e`.`id` AS `id`,concat(`e`.`nombre`,' ',`e`.`apellido`) AS `encuestador`,`e`.`codigo` AS `codigo`,`m`.`nombre` AS `municipio`,count(`b`.`id`) AS `total_boletas`,sum(case when `b`.`r_final` = 1 then 1 else 0 end) AS `completas`,sum(case when `b`.`r_final` = 4 then 1 else 0 end) AS `ausentes`,sum(case when `b`.`r_final` in (2,3) then 1 else 0 end) AS `rechazos`,sum(case when `b`.`r_final` = 13 then 1 else 0 end) AS `pendientes`,sum(case when `b`.`r_final` not in (1,4,2,3,13) then 1 else 0 end) AS `otras`,sum(`b`.`total_personas`) AS `total_personas`,sum(`b`.`total_hombres`) AS `total_hombres`,sum(`b`.`total_mujeres`) AS `total_mujeres`,round(avg(case when `b`.`r_final` = 1 then `b`.`tiempo_entrevista` end),1) AS `tiempo_promedio_min` from ((`encuestadores` `e` left join `boletas` `b` on(`b`.`id_encuestador` = `e`.`id`)) left join `municipios` `m` on(`m`.`id` = `e`.`id_municipio`)) group by `e`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_resumen_municipio`
--

/*!50001 DROP VIEW IF EXISTS `v_resumen_municipio`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_uca1400_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`sis`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_resumen_municipio` AS select `m`.`id` AS `id`,`m`.`nombre` AS `municipio`,`d`.`nombre` AS `departamento`,count(distinct `b`.`id_encuestador`) AS `encuestadores_activos`,count(`b`.`id`) AS `total_boletas`,sum(case when `b`.`r_final` = 1 then 1 else 0 end) AS `completas`,coalesce(sum(coalesce(`b`.`total_personas`,0)),0) AS `total_personas`,round(avg(case when `b`.`r_final` = 1 then `b`.`tiempo_entrevista` else NULL end),1) AS `tiempo_promedio` from (((`municipios` `m` left join `sectores` `s` on(`s`.`id_municipio` = `m`.`id`)) left join `boletas` `b` on(`b`.`id_sector` = `s`.`id`)) left join `departamentos` `d` on(`d`.`id` = `m`.`id_departamento`)) group by `m`.`id`,`m`.`nombre`,`d`.`nombre` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_resumen_sector`
--

/*!50001 DROP VIEW IF EXISTS `v_resumen_sector`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_uca1400_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`sis`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_resumen_sector` AS select `s`.`id` AS `id`,`s`.`codigo` AS `codigo`,`s`.`nombre` AS `sector`,`m`.`nombre` AS `municipio`,`d`.`nombre` AS `departamento`,`s`.`total_viviendas_esperadas` AS `total_viviendas_esperadas`,count(`b`.`id`) AS `viviendas_visitadas`,round(count(`b`.`id`) * 100.0 / nullif(`s`.`total_viviendas_esperadas`,0),1) AS `pct_avance`,sum(case when `b`.`r_final` = 1 then 1 else 0 end) AS `completas`,sum(`b`.`total_personas`) AS `personas_censadas` from (((`sectores` `s` left join `boletas` `b` on(`b`.`id_sector` = `s`.`id`)) left join `municipios` `m` on(`m`.`id` = `s`.`id_municipio`)) left join `departamentos` `d` on(`d`.`id` = `m`.`id_departamento`)) group by `s`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-13 13:03:24
