-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: listener_censo_control
-- ------------------------------------------------------
-- Server version	11.8.6-MariaDB-5

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `config_cortes`
--

DROP TABLE IF EXISTS `config_cortes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_cortes` (
  `id` int(11) DEFAULT NULL,
  `nombre` tinytext DEFAULT NULL,
  `activo` tinyint(4) DEFAULT NULL,
  `hora_corte` time DEFAULT NULL,
  `descripcion` tinytext DEFAULT NULL,
  `created_at` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_cortes`
--

LOCK TABLES `config_cortes` WRITE;
/*!40000 ALTER TABLE `config_cortes` DISABLE KEYS */;
INSERT INTO `config_cortes` VALUES (1,'CORTE_MEDIODIA',1,'12:00:00','Corte automático del mediodía','2026-06-25 15:15:55'),(2,'CORTE_NOCHE',1,'22:00:00','Corte automático de la noche','2026-06-25 15:15:55');
/*!40000 ALTER TABLE `config_cortes` ENABLE KEYS */;
UNLOCK TABLES;
