-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: listener_censo_control
-- ------------------------------------------------------
-- Server version	11.8.6-MariaDB-5

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `config_cortes`
--

DROP TABLE IF EXISTS `config_cortes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_cortes` (
  `id` int(11) DEFAULT NULL,
  `nombre` tinytext DEFAULT NULL,
  `activo` tinyint(4) DEFAULT NULL,
  `hora_corte` time DEFAULT NULL,
  `descripcion` tinytext DEFAULT NULL,
  `created_at` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_cortes`
--

LOCK TABLES `config_cortes` WRITE;
/*!40000 ALTER TABLE `config_cortes` DISABLE KEYS */;
INSERT INTO `config_cortes` VALUES (1,'CORTE_MEDIODIA',1,'12:00:00','Corte automático del mediodía','2026-06-25 15:15:55'),(2,'CORTE_NOCHE',1,'22:00:00','Corte automático de la noche','2026-06-25 15:15:55');
/*!40000 ALTER TABLE `config_cortes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ejecucion_corte`
--

DROP TABLE IF EXISTS `ejecucion_corte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ejecucion_corte` (
  `id` int(11) DEFAULT NULL,
  `id_config_corte` int(11) DEFAULT NULL,
  `fecha_corte` date DEFAULT NULL,
  `hora_inicio` datetime DEFAULT NULL,
  `hora_fin` datetime DEFAULT NULL,
  `estado` tinytext DEFAULT NULL,
  `total_censistas` int(11) DEFAULT NULL,
  `total_procesados` int(11) DEFAULT NULL,
  `total_error` int(11) DEFAULT NULL,
  `observacion` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ejecucion_corte`
--

LOCK TABLES `ejecucion_corte` WRITE;
/*!40000 ALTER TABLE `ejecucion_corte` DISABLE KEYS */;
/*!40000 ALTER TABLE `ejecucion_corte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `control_censista_corte`
--

DROP TABLE IF EXISTS `control_censista_corte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `control_censista_corte` (
  `id` int(11) DEFAULT NULL,
  `id_ejecucion` int(11) DEFAULT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `zona` tinyint(4) DEFAULT NULL,
  `sector` tinyint(4) DEFAULT NULL,
  `segmento` tinytext DEFAULT NULL,
  `censista` tinytext DEFAULT NULL,
  `estado` tinytext DEFAULT NULL,
  `hora_inicio` datetime DEFAULT NULL,
  `hora_fin` datetime DEFAULT NULL,
  `mensaje_error` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `control_censista_corte`
--

LOCK TABLES `control_censista_corte` WRITE;
/*!40000 ALTER TABLE `control_censista_corte` DISABLE KEYS */;
/*!40000 ALTER TABLE `control_censista_corte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `censista_codigo`
--

DROP TABLE IF EXISTS `censista_codigo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `censista_codigo` (
  `id` int(11) DEFAULT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `censista_origen` tinytext DEFAULT NULL,
  `codigo_censista` tinytext DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `censista_codigo`
--

LOCK TABLES `censista_codigo` WRITE;
/*!40000 ALTER TABLE `censista_codigo` DISABLE KEYS */;
/*!40000 ALTER TABLE `censista_codigo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_error_corte`
--

DROP TABLE IF EXISTS `log_error_corte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log_error_corte` (
  `id` int(11) DEFAULT NULL,
  `id_ejecucion` int(11) DEFAULT NULL,
  `depto` char(2) DEFAULT NULL,
  `muni` char(2) DEFAULT NULL,
  `sector` tinytext DEFAULT NULL,
  `segmento` tinytext DEFAULT NULL,
  `censista` tinytext DEFAULT NULL,
  `tabla_destino` tinytext DEFAULT NULL,
  `mensaje_error` text DEFAULT NULL,
  `fecha_error` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_error_corte`
--

LOCK TABLES `log_error_corte` WRITE;
/*!40000 ALTER TABLE `log_error_corte` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_error_corte` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-13 11:44:02
